name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -mpip install --upgrade pip setuptools wheel pytest pytest-cov
        case '${{ matrix.python-version }}' in
        3.7)
          pip install ipython==4.1.0;;
        esac
        python -mpip install .
    - name: Test
      run: |
        pyver="$(python -c 'import sys; print("{0.major}.{0.minor}".format(sys.version_info))')" &&
        COVERAGE_FILE=".coverage.$pyver" python -mpytest --cov --cov-branch
    - name: Upload coverage
      uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: .coverage.*

  coverage:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.11"
    - name: Download coverage
      uses: actions/download-artifact@v4.1.7
      with:
        name: coverage
    - name: Coverage
      run: |
        python -mpip install --upgrade coverage &&
        python -mcoverage combine .coverage.* &&  # Unifies paths across envs.
        python -mcoverage report --show-missing
